@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <style type="text/css">
        body {
            font-family: "Impact", sans-serif;
            color: #ffffff;
        }

        h1 {
            font-family: "Impact", sans-serif;
            color: #ffffff
        }

          a { color: #FF0000; } /* CSS link color */
    </style>
</div>
<div>
    <h1 class="display-4">GinaBean Coffee Shop</h1>
</div>


@if (HttpContextAccessor.HttpContext.Session.GetString("session_username") != null)
{
    <text>
        Logged in username from Session is: @HttpContextAccessor.HttpContext.Session.GetString("session_username")
    </text>
}

else
{
 
<h2>
    <text>You are not logged in.</text>
    <br />
    <br />
    <text>To LOGIN</text><a href=https://localhost:5001/Home/Login> click here.</a>
    <br />
    <text>To REGISTER</text><a href=https://localhost:5001/Home/Register> click here. </a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <text>To browse GinaBean's retail shop</text><a href=https://localhost:5001/Home/Shop> click here. </a><br />
    <text>You must be</text> <a href=https://localhost:5001/Home/Login>logged-in</a><text> to make purchases.</text><br />

</h2>
}



<style>
    body {
        background-color: #808080;
        background-image: url("https://cdn.pixabay.com/photo/2016/09/07/04/22/coffee-beans-1650788_1280.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

</style>