
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome</h1>

<h1>@ViewBag.Firstname</h1>
<h1>@ViewBag.Lastname</h1>
<h1>@ViewBag.Username </h1>
<h1>@ViewBag.Coffee </h1>

